<div class="col-lg-12" style="margin-bottom: -80px;">
    <div class="section-head text-center">
        <h6 class="wow" data-splitting>Benevento</h6>
        <h3 class="wow" data-splitting>Para Proporcionar Momentos Inesquecíveis!</h3>
    </div>
</div>



<section id="benevento" class="about section-padding">

    <div class="video-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 valign">
                    <div class="stats wow fadeInUp" data-wow-delay=".5s">
                        <h3>Benvento.</h3>
                        <h4>Conheça nosso espaço</h4>
                        <div class="mt-5">
                        <p>Oferecemos aos nossos clientes uma infraestrutura completa para os
                            mais diferentes Eventos Sociais e Corporativos.</p>
                        </div>
                        
                       <p>Nossa equipe, altamente qualificada, presta todo o suporte necessário
                        para cada tipo de comemoração. Nosso objetivo é oferecer uma festa
                        única e exclusiva para cada cliente.</p>
                    </div>
                </div>


                <div class="col-lg-6 img">
                    <span class="imgio">
                        <div class="wow cimgio" data-delay="300"></div>
                        <img src="img/img2.jpeg" alt="">
                    </span>
                    <a class="vid valign wow fadeIn" data-wow-delay=".5s">

                    </a>
                </div>


            </div>
        </div>
    </div>
</section>