
            <section id="eventos" class="services-grid section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-head text-center">
                                <h6 class="wow" data-splitting>Benevento</h6>
                                <h3 class="wow" data-splitting>Um pouco mais sobre os Eventos</h3>
                            </div>
                        </div>
                        <div class="col-lg-10 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-4 items valign">
                                    <div class="item wow fadeIn" data-wow-delay=".3s">
                                        <span class=""></span>
                                        <h5>Lugar Ideal</h5>
                                        <p>O Espaço Benevento está de portas abertas para você celebrar os momentos especiais da vida.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 items active valign">
                                    <div class="item wow fadeIn" data-wow-delay=".3s">
                                        <span class=""></span>
                                        <h5>Eventos </h5>
                                        <p>o espaço para festas é o lugar ideal para a realização de festas de Casamento, Aniversário, Festa de 15 Anos e Corporativo.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 items valign">
                                    <div class="item wow fadeIn" data-wow-delay=".3s">
                                        <span class=""></span>
                                        <h5>Infraestrutura</h5>
                                        <p>Oferecemos aos nossos clientes uma infraestrutura completa para os mais diferentes Eventos Sociais e Corporativos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
