<section id="section-1" class="about section-padding">
    <div class="intro mb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="md-mb30">
                        <h6 class="sub-title wow" data-splitting>Espaço Benevento</h6>
                        <h2 class="extra-title wow" data-splitting>Conheça a nossa casa a sua festa merece este cenário!</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="video-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 img">
                    <span class="imgio">
                        <div class="wow cimgio" data-delay="300"></div>
                        <img src="img/video.jpeg" alt="">
                    </span>
                    <a class="vid valign wow fadeIn" data-wow-delay=".5s" href="https://vimeo.com/586949635">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="fa fa-play"></i>
                            </span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 valign">
                    <div class="stats wow fadeInUp" data-wow-delay=".5s">
                        <h3>A Benevento</h3>
                        <p>Oferecemos aos nossos clientes uma infraestrutura completa para os mais diferentes Eventos Sociais e Corporativos. Nossa equipe, altamente qualificada, presta todo o suporte necessário para cada tipo de comemoração.
                            Nosso objetivo é oferecer uma festa única e exclusiva para cada cliente.</p>

                        <ul>
                            <li>
                                <span><i>+</i>5</span>
                                <h6>Anos de<br> Experiencia</h6>
                            </li>
                            <li>
                                <span><i>+</i>300</span>
                                <h6>Pessoas <br> Capacidade</h6>
                            </li>
                            <li>
                                <span><i>+</i>999</span>
                                <h6>Clientes <br> Atendidos</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mt-2" style="align-items: center;" id="linha-horizontal"></div>
                <style>
                    #linha-horizontal {
                        text-align: center;
                        width: 600px;
                        border: 0.1px solid #af986f;
                    }
                </style>
            </div>
        </div>
    </div>
</section>