
         
            <!-- ==================== Start Slider ==================== -->
            <main class="main-content" style="background-color: black;">
                <div class="intro mb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="md-mb30">
                                    <h6 class="sub-title wow" data-splitting>Galeria</h6>
                                    <h2 class="extra-title wow" data-splitting></h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container-fluid photos">
                  <div class="row pt-4 mb-5 text-center">
                    <div class="col-12">
                        <h3 class=" wow" data-splitting>Nossa Galeria</h3>
                    </div>
                  </div>
                  <div class="row align-items-stretch">
                    <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                      <a href="images/l.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/l.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                          <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                      <a href="images/b.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/b.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                      <a href="images/d.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/d.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
                      <a href="images/c.jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/c.jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                      <a href="images/h.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/h.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
                      <a href="images/n.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/n.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                      <a href="images/m.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/m.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                      <a href="images/a1.jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/a1.jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                      <a href="img/10.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="img/10.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                      <a href="img/ss2.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="img/ss2.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                      <a href="img/11.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="img/11.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                      <a href="img/12.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="img/12.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                      <a href="img/9.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="img/9.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
                      <a href="img/1.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="img/1.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                      <a href="img/ll.jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="img/ll.jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                         <span  class="fa fa-search" style="color: burlywood;"></span>
                        </div>
                      </a>
                    </div>
                    
                  </div>
              
                </div>
              </main>
            </div>
          <style>
            .ftttt{
              background-color: #fff;
            }
          </style>