
            <section class="testimonials testim-blocks section-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 positive-r">
                            <div class="slider-for wow fadeInUp" data-wow-delay="1.9s">
                                <div class="img">
                                    <div class="author">
                                        <img src="img/ss3.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="img">
                                    <div class="author">
                                        <img src="img/ss.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="img">
                                    <div class="author">
                                        <img src="img/ss2.jpeg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="navs wow fadeIn" data-wow-delay=".3s">
                                <span class="next cursor-pointer">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                                <span class="prev cursor-pointer">
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-8 quote-text valign">
                            <div class="full-width">
                                <div class="title">
                                    <h6>Avaliação</h6>
                                    <h4>O que achou do espaço?</h4>
                                </div>
                                <div class="slider-nav wow fadeInUp" data-wow-delay=".3s">
                                    <div class="item">
                                        <div class="cont">
                                            <div class="icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 95.333 95.332" enable-background="new 0 0 95.333 95.332" xml:space="preserve">
                                                    <g>
                                                        <g>
                                                            <path
                                                                d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793
			c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.146,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045
			s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076
			c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.866,10.507,9,18.529,9.313c0.033,0.001,0.065,0.003,0.098,0.003
			c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.852C40.971,49.307,36.236,45.586,30.512,43.939z" />
                                                            <path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019
			c-3.527,0-6.472,0.806-8.754,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.976-0.146,1.773-0.85,2.041-1.799l2.301-8.23
			c0.193-0.696,0.078-1.441-0.318-2.045s-1.033-1.007-1.75-1.105c-0.775-0.106-1.568-0.16-2.354-0.16
			c-12.637,0-25.152,13.19-30.435,32.076c-3.099,11.08-4.008,27.738,3.63,38.225c4.271,5.866,10.506,9,18.527,9.312
			c0.033,0.002,0.064,0.002,0.1,0.002c9.896,0,18.674-6.666,21.344-16.209C96.098,65.559,95.375,59.575,92.471,54.413z" />
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                            <p>"Uma equipe muito profissional e atenciosa que se envolve com o seu evento de uma forma sem igual, 
                                                com muito respeito e carinho."
                                            </p>
                                            <div class="info">
                                                <h6>Larissa de Souza</h6>
                                                <span>Casamento</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cont">
                                            <div class="icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 95.333 95.332" enable-background="new 0 0 95.333 95.332" xml:space="preserve">
                                                    <g>
                                                        <g>
                                                            <path
                                                                d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793
			c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.146,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045
			s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076
			c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.866,10.507,9,18.529,9.313c0.033,0.001,0.065,0.003,0.098,0.003
			c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.852C40.971,49.307,36.236,45.586,30.512,43.939z" />
                                                            <path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019
			c-3.527,0-6.472,0.806-8.754,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.976-0.146,1.773-0.85,2.041-1.799l2.301-8.23
			c0.193-0.696,0.078-1.441-0.318-2.045s-1.033-1.007-1.75-1.105c-0.775-0.106-1.568-0.16-2.354-0.16
			c-12.637,0-25.152,13.19-30.435,32.076c-3.099,11.08-4.008,27.738,3.63,38.225c4.271,5.866,10.506,9,18.527,9.312
			c0.033,0.002,0.064,0.002,0.1,0.002c9.896,0,18.674-6.666,21.344-16.209C96.098,65.559,95.375,59.575,92.471,54.413z" />
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                            <p>" Sempre dizemos que foi o melhor investimento que fizemos contratar a 
                                                Benevento, por que tivemos muitas vantagens e nenhuma frustração. "
                                            </p>
                                            <div class="info">
                                                <h6>Larissa de Souza</h6>
                                                <span>Casamento</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cont">
                                            <div class="icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 95.333 95.332" enable-background="new 0 0 95.333 95.332" xml:space="preserve">
                                                    <g>
                                                        <g>
                                                            <path
                                                                d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793
			c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.146,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045
			s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076
			c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.866,10.507,9,18.529,9.313c0.033,0.001,0.065,0.003,0.098,0.003
			c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.852C40.971,49.307,36.236,45.586,30.512,43.939z" />
                                                            <path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019
			c-3.527,0-6.472,0.806-8.754,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.976-0.146,1.773-0.85,2.041-1.799l2.301-8.23
			c0.193-0.696,0.078-1.441-0.318-2.045s-1.033-1.007-1.75-1.105c-0.775-0.106-1.568-0.16-2.354-0.16
			c-12.637,0-25.152,13.19-30.435,32.076c-3.099,11.08-4.008,27.738,3.63,38.225c4.271,5.866,10.506,9,18.527,9.312
			c0.033,0.002,0.064,0.002,0.1,0.002c9.896,0,18.674-6.666,21.344-16.209C96.098,65.559,95.375,59.575,92.471,54.413z" />
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                            <p>" Muito bom. No final do evento todos os nossos
                                                convidados elogiaram a beleza do lugar além do serviço 
                                                impecável, agradecemos profundamente a todos. "
                                            </p>
                                            <div class="info">
                                                <h6>Larissa de Souza</h6>
                                                <span>Casamento</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>