
		<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
			<div class="container">
                <div class="logo">
                    <a href="/"><img  style="width: 100%;
                height: auto; width: 100px;
            " src="img/logo1.png" alt=""></a>
                </div>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarNav">
			        <ul class="navbar-nav ml-auto">
			            <li class="nav-item">
			                <a class="nav-link scroll-link" href="/">Home</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link scroll-link" href="#benevento">Quem Somos</a>
			            </li>
                        <li class="nav-item">
			                <a class="nav-link scroll-link" href="reservation">Reservar</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link scroll-link" href="menu">Galeria</a>
			            </li>
			        
			            <li class="nav-item">
			                <a class="nav-link scroll-link" href="contact">Contatos</a>
			            </li>
			        </ul>
			    </div>
		    </div>
		</nav>