<!DOCTYPE HTML>
<html>
<%- include('head-galeria'); -%>

<body>

    <div id="preloader">
        <div class="loading-text">Galeria</div>
    </div>

    <div id="page">

        <%- include('header-menu'); -%>
 